.fa-calendar-alt {
    color: #cd630f;
    font-size: 2rem;
}

.media-body p {
    font-size: 2rem;
}

.card {
    background-color: black;
    border-color: #cd630f;
    width: 28rem;
}

#date p {
    font-size: 2.1rem;
    line-height: 1.2em;
    border-right: 2px solid;
}

#title .lead{
    font-size: 1rem;
}

#photo {
    border-radius: 0 0 5px 5px;
}