<main>
  <img src="assets/img/emblema.png" class="img-fluid mx-auto d-block" alt="Emblema">
  <p class="lead text-lg-left pl-2">
    Сommunity-клуб "OMERTA" - это сообщество людей, которые знают толк в отборных эмоциях.
    <li>Еженедельная качественная любительская "Мафия";</li>
    <li>Авторские ролевые игры;</li>
    <li>Авторские тренинговые игры и ивенты;</li>
    <li>Чемпионаты и поединки;</li>
    <li>Люди, люди, люди...</li>
    Мы - новый твой глоток свежих впечатлений.<br>
    Мы точно знаем: ВСЯ ЖИЗНЬ ИГРА!
  </p>
</main>
<footer>
  <p>Copyright © omerta.ru, 2018</p>
</footer>