<main>
  <div class="card mx-auto">
    <img src="assets/img/emblema.png" class="card-img-top" alt="Emblema">
    <div class="card-body">
      <p class="lead card-text">
        Сommunity-клуб "OMERTA" - это сообщество людей, которые знают толк в отборных эмоциях.
      </p>
      <ul class="lead card-text">
        <li>Еженедельная качественная любительская "Мафия";</li>
        <li>Авторские ролевые игры;</li>
        <li>Авторские тренинговые игры и ивенты;</li>
        <li>Чемпионаты и поединки;</li>
        <li>Люди, люди, люди...</li>
      </ul>
      <p class="lead card-text">
        Мы - новый твой глоток свежих впечатлений.<br>
        Мы точно знаем: ВСЯ ЖИЗНЬ ИГРА!
    </div>
  </div>
</main>