.navbar {
    background-color: #cd630f;
}

.nav-item.nav-link {
    color: black;
    font-weight: bold;
    padding: 1rem;
}

.navbar-light .navbar-toggler {
    border-color: black;
}

.navbar-nav a:hover {
    color: #cd630f;
    background-color: black;
    transition: color 0.4s 0.04s ease;
    -webkit-transition: color 0.4s 0.04s ease;
    -moz-transition: color 0.4s 0.04s ease;
    -o-transition: color 0.4s 0.04s ease;
}

.nav-link:active {
    color: #cd630f;
    background-color: black;    
}

.nav-item.nav-link.active {
    color: #cd630f;
    background-color: black; 
}

footer {
    text-align: center;
}

footer img {
    width: 1.8rem;
}