<header class="fixed-top">
  <nav class="navbar navbar-light navbar-expand-lg py-0">
    <a class="navbar-brand p-0" routerLink="/welcome">
      <img src="assets/img/emblema.png" width="154" height="56" alt="Логотип OMERTA" title="Главная страница" 
        data-toggle="collapse" data-target=".collapse.show">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOmerta" 
    aria-controls="navbarOmerta" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pt-2 pt-lg-0" id="navbarOmerta">
      <div class="navbar-nav text-center mb-2 mb-lg-0" data-toggle="collapse" data-target=".collapse.show">
        <a class="nav-item nav-link" routerLink="/residents" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Резиденты клуба</a>
        <a class="nav-item nav-link" routerLink="/members" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Члены клуба</a>
        <a class="nav-item nav-link" routerLink="/promotions" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact:true}">Акции</a>
        <a class="nav-item nav-link" routerLink="/mafia" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Мафия</a>
        <a class="nav-item nav-link" routerLink="/reviews" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Отзывы</a>
        <a class="nav-item nav-link" routerLink="/events" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Ближайшие события</a>
        <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}" *ngIf="this.checkEnableDasboard()">Панель управления</a>
      </div>
      <button type="button" class="btn btn-primary mb-2 mb-lg-0" (click)="logout()" *ngIf="checkEnableDasboard()">
        Выйти <i class="fas fa-sign-out-alt"></i>
      </button>
    </div> 
  </nav>
</header>
<div [@routeAnimations]="getAnimation(outlet)">
  <main class="mb-3" id="main-block">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
  <footer>
    <a href="https://www.instagram.com/omerta_nsk/" target="_blank" class="mr-2" rel="noopener">
      <img src="assets/img/Insta.png" alt="Instagram icon">
    </a>
    <a href="https://vk.com/omerta_nsk" target="_blank" rel="noopener">
      <img src="assets/img/VK.png" alt="VK icon">
    </a>
    <p class="pt-1">© Сommunity-клуб "OMERTA", 2019</p>
  </footer> 
</div>