.navbar {
    background-color: #cd630f;
}

.nav-item.nav-link {
    color: black;
    font-weight: bold;
    padding: 1rem;
}

.navbar-light .navbar-toggler {
    border-color: #cd630f;
}

.navbar-nav a:hover {
    color: #cd630f;
    background-color: black;
    transition: color 0.4s ease 0.1s;
    -webkit-transition: color 0.4s ease 0.1s;
    -moz-transition: color 0.4s ease 0.1s;
    -o-transition: color 0.4s ease 0.1s;
}

.nav-link:active {
    color: #cd630f;
    background-color: black;    
}

.nav-item.nav-link.active {
    color: #cd630f;
    background-color: black; 
}

footer {
    text-align: center;
}

footer img {
    width: 1.8rem;
}

#scroll-to-up {
    background-color: #cd630f;
    color: black;
    position: relative;
    top: 50%;
}

.wrapper-scroll-btn {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#main-block {
    min-height: calc(100vh - 150px);
}