.resident {
    width: 250px;
    height: 250px;
}

.resident-info {
    background-color: #cd630f;
    position: absolute;
    font-size: 2em;
    opacity: 0;
}

.resident-info p {
    color: black;
    cursor: default;
}

.resident-info:hover {
    opacity: 1;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
}