.resident {
    width: 250px;
    height: 250px;
}

#resident-info-lg {
    background-color: #cd630f;
    position: absolute;
    font-size: 2em;
    opacity: 0;
}

#resident-info-lg p {
    color: black;
    cursor: default;
}

#resident-info-lg:hover {
    opacity: 1;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
}

#resident-info {
    position: absolute;
    font-size: 2em;
}

#resident-info p{
    cursor: default;
    width: 250px;
    font-size: 0.7em;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.3) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.3) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.3) 100%);
}