.card {
    background-color: black;
    border-color: var(--orange);
}

.card-header {
    border-bottom-color: var(--orange);
    cursor: default;
}

.member, #add-member {
    font-size: 1.5rem;
    background-color: black;
}

.media-body p {
    font-size: 1.3rem;
}

.ng-invalid:not(form)  {
    border: 3px solid var(--red);
}

.modal-content {
    background-color: black;
}
  
.modal-header, .modal-footer{
    border-color: var(--orange);
}

#label-switch{
    color: var(--orange);
}
