<div class="container-fluid pt-4">
  <div class="row">
    <div *ngFor="let review of reviews; index as i" class="col-md-6 col-xl-4">
      <div class="media" [ngSwitch]="review[0]">
        <img class="mr-3 rounded-circle review-photo" src="assets/img/reviews/review_{{i + 1}}.jpg" alt="Фото">
        <div class="media-body">
          <h5 class="mt-0">{{review[1]}}</h5>
          <ng-template *ngSwitchCase="'review1'" [ngTemplateOutlet]="r1"></ng-template>
          <ng-template *ngSwitchCase="'review2'" [ngTemplateOutlet]="r2"></ng-template>
          <ng-template *ngSwitchCase="'review3'" [ngTemplateOutlet]="r3"></ng-template>
          <ng-template *ngSwitchCase="'review4'" [ngTemplateOutlet]="r4"></ng-template>
          <ng-template *ngSwitchCase="'review5'" [ngTemplateOutlet]="r5"></ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4 d-flex justify-content-center align-items-center">
      <div class="media d-inline-flex">
        <i class="far fa-comment mr-3"></i>
        <div class="media-body align-self-center">
          <p class="lead mb-0">
            Больше отзывов в нашем
            <a href="https://vk.com/topic-49688308_30841263" target="_blank" rel="noopener" id="review-ref">
              сообществе <i class="fas fa-external-link-alt"></i>
            </a>
            ВК
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #r1>
  <p>
    Интересное, теплое, уютное место:) невероятная атмосфера, интриги...события....)) интересно
    почувствовать себя в новой роли, надеть или наоборот снять "маску", наблюдать, как меняются
    окружающие, и как меняешься сам в ходе игры)) и конечно учишься мыслить логично))
    Спасибо замечательным ведущим за хорошие, интересные воскресные вечера с мафией)
  </p>
</ng-template>
<ng-template #r2>
  <p>
    Когда случайно попал на игру, ожиданий особых не было. Омерта же, развернула все
    представления об игре. Отличная организация игры и замечательные игроки, против
    которых ( и с которыми) очень интересно играть, сделают ваши воскресные вечера,
    особенно в долгую сибирскую зиму. Рекомендую всем тем, кто любит удивляться.
  </p>
</ng-template>
<ng-template #r3>
  <p>
    Действительно замечательное место всегда с большим удовольствием иду на игру. Море эмоций и
    буря чувств, которые порой сложно сдержать уютная, теплая атмосфера, захватывающая игра,
    за которой просто теряешь счет времени. Ну и конечно, те веселые, добрые, потрясающие люди,
    с которыми ты каждую неделю так ждешь встречу, что хочется ускорить время.
  </p>
</ng-template>
<ng-template #r4>
  <p>
    Интересные, веселые игры, дружественная атмосфера. Все вечера, которые я провела здесь,
    были яркими и приятными. Спасибо организаторам!
  </p>
</ng-template>
<ng-template #r5>
  <p>
    Игра для тех кто хочет и любит спорить и отстаивать правду. Для тех кто любит потрепаться
    по делу и без повода. Для тех у кого язык подвешан и без костей. А еще туда приходят много красивых девчонок)))
  </p>
</ng-template>