.card {
    background-color: black;
}

.fa-comment {
    color: #cd630f;
    font-size: 3rem;
}

.fa-external-link-alt {
    width: 1rem;
}

#review-ref {
    color: #cd630f;
    text-decoration: underline;
}