.card {
    background-color: black;
}

.fa-comment {
    color: var(--orange);
    font-size: 3rem;
}

.fa-external-link-alt {
    width: 1rem;
}

#review-ref {
    color: var(--orange);
    text-decoration: underline;
}

.review-photo {
    width: 100px;
}