<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-6">
      <div *ngFor="let card of cards" class="card">
        <img src="assets/img/mafia/{{card.slice(4)}}.jpg" class="card-img-top" alt="img-mafia-rules">
        <div class="card-body" [ngSwitch]="card">
          <ng-template *ngSwitchCase="'card1'" [ngTemplateOutlet]="c1"></ng-template>
          <ng-template *ngSwitchCase="'card2'" [ngTemplateOutlet]="c2"></ng-template>
          <ng-template *ngSwitchCase="'card3'" [ngTemplateOutlet]="c3"></ng-template>
          <ng-template *ngSwitchCase="'card4'" [ngTemplateOutlet]="c4"></ng-template>
          <ng-template *ngSwitchCase="'card5'" [ngTemplateOutlet]="c5"></ng-template>
          <ng-template *ngSwitchCase="'card6'" [ngTemplateOutlet]="c6"></ng-template>
          <ng-template *ngSwitchCase="'card7'" [ngTemplateOutlet]="c7"></ng-template>
          <ng-template *ngSwitchCase="'card8'" [ngTemplateOutlet]="c8"></ng-template>
          <ng-template *ngSwitchCase="'card9'" [ngTemplateOutlet]="c9"></ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #c1>
  <p class="lead card-text">
    "Мафия" - ролевая салонная игра, в которую играют все: от мала до велика. 
    Пожалуй нет в России коллективной игры популярнее и любимее. Несмотря на немудрёные правила и 
    собственную простоту, она способна выдавать изощрённейшие и азартнейшие игры и не становится 
    менее интересной для игроков на протяжении многих лет…
  </p>
</ng-template>
<ng-template #c2>
  <p class="lead card-text">
    Игроки, случайным образом выбрав карты, оказываются в двух противоборствующих группах: 
    <em>мирные жители</em> и <em>мафия</em>. Задача каждой из сторон: убрать всю группу
    соперника.<br> 
    Игровой процесс состоит из двух этапов. 
  </p>
</ng-template>
<ng-template #c3>
  <p class="lead card-text">
    Дневной этап игры, на котором происходит следующее:
  </p>
  <ul class="lead card-text">
    <li>круговое высказывание( после первой ночи);</li>
    <li>время свободного обсуждения;</li>
    <li>голосование.</li>
  </ul>  
  <p class="lead card-text">
    Теперь обо всем поподробней...
  </p>
</ng-template>
<ng-template #c4>
  <p class="lead card-text">
    В начале каждого дня игроки по поднятой руке высказывают свое мнение о ситуации за столом и могут 
    назвать имена тех людей,которых они считают <em>мафией</em>. Также можно задавать вопросы остальным игрокам.<br> 
    Дневные обсуждения завершаются голосованием... 
  </p>
</ng-template>
<ng-template #c5>
  <p class="lead card-text">
    Каждый игрок может проголосовать только один раз за круг. В случае одинакового количества голосов,
    объявляется следующий раунд голосования уже между этими кандидатами - до выявления лидера.
    Игрок, набравший больше всего голосов, вскрывает свою карту, говорит последнее слово и покидает
    стол. 
  </p>
</ng-template>
<ng-template #c6>
  <p class="lead card-text">
    Когда город засыпает, просыпается <em>мафия</em>...Игроки с этой картой должны сообща
    указать ведущему на того, кто следующим утром покинет стол в качестве жертвы.<br>
    По мимо уже упоминавшихся ролей, в игре ещё присутствуют не менее интересные персонажи, просыпающиеся
    ночью.
  </p>
</ng-template>
<ng-template #c7>
  <p class="lead card-text">
    <em>Доктор</em> - получает возможность лечить жертв <em>мафии</em>.
    Он просыпается ночью и указывает на того, кого по его мнению выбрала <em>мафия</em>. Если <em>доктор</em>
    угадывает, то этот игрок остаётся в живых.<br>
    Нельзя лечить одного и того же человека - в том числе и себя -  два раза подряд.
  </p>
</ng-template>
<ng-template #c8>
  <p class="lead card-text">
    <em>Комиссар </em>- единственный из мирных жителей, кто может точно узнать <em>мафию</em>. Ночью он
    просыпается и указывает на игрока, которого подозревает в мафиозной игре. Ведущий знаками показывает 
    ему результат проверки.<br> 
    Важно: комиссар не имеет последнего слова.
  </p>
</ng-template>
<ng-template #c9>
  <p class="lead card-text">
    <em>Маньяк</em> - третья сторона в конфликте интересов за игровым столом. Ночью может убить любого игрока.
    Побеждает в том случае, если  за столом остаем втроем с <em>мафией</em> и <em>мирным жителем</em> и на голосовании
    из-за стола выходит <em>мафия</em>.
  </p>
</ng-template>